<!DOCTYPE html>
{% comment %}

    General page template.

    @param title        Page title
    @param include      The template to include instead of content
    @param include_arg1 Include argument #1.
    @param include_arg2 Include argument #2.
    @param include_arg3 Include argument #3.
    @param include_arg4 Include argument #4.
    @param include_arg5 Include argument #5.

{% endcomment %}
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="DIGImend - digitizer mending. Improving Linux support for graphics tablets." />
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/octicons.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>DIGImend - {{include.title}}</title>
  </head>

  <body>

    <!-- Google Analytics callback -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55553304-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if page.url == "/index.html" %}
            <span id="logo"></span>
          {% else %}
            <a id="logo" href="/"></a>
          {% endif %}
          <a id="forkme_banner" href="https://github.com/DIGImend">View on GitHub</a>
          <div id="project_text">
            <div id="project_title">DIGImend</div>
            <div id="project_tagline">Improving Linux support for graphics tablets.</div>
          </div>
          <nav>
            {% include pi depth_min=2 depth_max=2 orderby="weight" include="pt_link.html" %}
          </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% capture: page_issue_title %}Page issue: {{ include.title }}{% endcapture %}
        {% capture: page_issue_body %}There is an issue with page [{{ include.title }}]({{ site.url }}{{ page.url | remove: 'index.html' }}):{% endcapture %}
        {% capture: page_issue_url %}{{ page.complain_url }}?title={{ page_issue_title | url_param_escape }}&body={{ page_issue_body | url_param_escape }}%0a%0a{% endcapture %}
        {% capture: page_source_url %}{{ page.url | replace_first: page.mount_pfx, page.edit_pfx | replace: "/index.html", "/index.md" }}{% endcapture %}
        <div id="top_tool_drawer">
            <a href="{{page_issue_url}}" class="tool" title="Report an issue with this page">
                <span class="octicon octicon-issue-opened"></span></a>
            <a href="{{page_source_url}}" class="tool" title="Propose a change to this page">
                <span class="octicon octicon-pencil"></span></a>
        </div>
        <h1>{{include.title}}</h1>
        <div style="border: 1px solid #0090ff; border-radius: 2px; padding: 1em; margin-bottom: 0.5em;">
            NOTE: The DIGImend project maintainer is
            <a href="http://spbnick.github.io/2016/07/31/Wrapping-up-DIGImend-work.html">leaving the project</a>
            in November 2016. Currently no work on supporting new tablets is
            done, and user support is done by community only. Replacement
            maintainers are welcome.
        </div>
        {% if include.include != null %}
            {% include {{include.include}} arg1=include.include_arg1 arg2=include.include_arg2 arg3=include.include_arg3 arg4=include.include_arg4 arg5=include.include_arg5 %}
        {% else %}
            {{ content }}
        {% endif %}
        <div id="bottom_tool_drawer">
            <a href="{{page_issue_url}}" class="tool">
                <span class="octicon octicon-issue-opened"></span> Report an issue with this page</a>
            <a href="{{page_source_url}}" class="tool">
                <span class="octicon octicon-pencil"></span> Propose a change to this page</a>
        </div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
