<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="DIGImend - digitizer mending. Improving Linux support for graphics tablets." />
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>DIGImend - {{include.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if page.url == "/index.html" %}
            <span id="logo"></span>
          {% else %}
            <a id="logo" href="/"></a>
          {% endif %}
          <a id="forkme_banner" href="https://github.com/DIGImend">View on GitHub</a>
          <div id="project_text">
            <div id="project_title">DIGImend</div>
            <div id="project_tagline">Improving Linux support for graphics tablets.</div>
          </div>
          <nav>
            {% assign sorted_pages = site.pages | sort:"weight" %}
            {% assign page_dir = page.url | remove: 'index.html' %}
            {% for p in sorted_pages %}
              {% assign p_depth = p.url | split: '/' | size %}
              {% if p.title != null and p_depth == 3 %}
                {% assign p_dir = p.url | remove: 'index.html' %}
                {% assign p_dir_len = p_dir | size %}
                {% assign page_base = page_dir | truncate: p_dir_len, "" %}
                {% if p_dir == page_base %}
                  {% assign p_extra_attrs = ' class="selected"' %}
                {% else %}
                  {% assign p_extra_attrs = '' %}
                {% endif %}
                {% if page_dir == p_dir %}
                  <span>{{p.title}}</span>
                {% else %}
                  <a href="{{p_dir}}"{{p_extra_attrs}}>{{p.title}}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>{{include.title}}</h1>
        {% if include.include != null %}
            {% include {{include.include}} %}
        {% else %}
            {{ content }}
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
