{{content}}

<p>
    The tablets below are grouped by their OEMs. A tablet's "original model" name
    (if any) is the name used by the OEM or reported by the tablet itself, in its
    device descriptor. For the tablets with unknown name, the "original model" is
    specified as "PID" followed by the four-digit hexadecimal product ID.
</p>

{% assign page_dir = page.url | remove: 'index.html' %}
{% assign sorted_pages = site.pages | sort:'PID' %}

{% comment %}

    Collect vendors

{% endcomment %}
{% assign vendor_list_str = "" %}
{% comment %} For each tablet page {% endcomment %}
{% for p in site.pages %}
    {% assign p_dir = p.url | remove: 'index.html' %}
    {% if p_dir contains page_dir and p_dir != page_dir %}
        {% unless vendor_list_str contains p.vendor %}
            {% capture vendor_list_str %}{{vendor_list_str}} {{p.vendor}}{% endcapture %}
        {% endunless %}
    {% endif %}
{% endfor %}
{% assign vendor_list = vendor_list_str | split:' ' | sort %}


{% comment %}

    For each vendor

{% endcomment %}
{% for vendor in vendor_list %}
<h2>{{vendor}}</h2>

<table class="tablet_list">
    <thead>
        <tr>
            <th class="original_model">Original model</th>
            <th class="sold_as">Sold as</th>
            <th class="status">Status</th>
        </tr>
    </thead>
    <tbody>
        {% include pi parent_dir=page_dir orderby="PID" include="pt_vt.html" include_arg1=vendor %}
    </tbody>
</table>
{% endfor %}
