{% comment %}

    Output tablet list, with tablets grouped by vendor and optionally filtered
    by driver support

    @param arg1         Driver to filter by

{% endcomment %}
{{content}}

<p>
    The tablets below are grouped by their OEMs. A tablet's "original model" name
    (if any) is the name used by the OEM or reported by the tablet itself, in its
    device descriptor. For the tablets with unknown name, the "original model" is
    specified as "PID" followed by the four-digit hexadecimal product ID.
</p>

{% assign page_dir = page.url | remove: 'index.html' %}
{% assign sorted_pages = site.html_pages | sort:'PID' %}

{% comment %}

    Collect vendors

{% endcomment %}
{% assign vendor_list_str = "" %}
{% comment %} For each tablet page {% endcomment %}
{% for p in site.html_pages %}
    {% assign p_dir = p.url | remove: 'index.html' %}
    {% if p_dir contains "/tablets/" and p_dir != "/tablets/" %}
        {% unless vendor_list_str contains p.vendor %}
            {% if include.arg1 == null or p.supported and p.supported_in[include.arg1] != null %}
                {% capture vendor_list_str %}{{vendor_list_str}} {{p.vendor}}{% endcapture %}
            {% endif %}
        {% endunless %}
    {% endif %}
{% endfor %}
{% assign vendor_list = vendor_list_str | split:' ' | sort %}


{% comment %}

    For each vendor

{% endcomment %}
{% for vendor in vendor_list %}
<h2 id="{{vendor | downcase}}">{{vendor}}</h2>

<table class="tablet_list">
    <thead>
        <tr>
            <th class="original_model">Original model</th>
            <th class="sold_as">Sold as</th>
            <th class="status">Status</th>
        </tr>
    </thead>
    <tbody>
        {% include pi parent_dir="/tablets/" orderby="product" include="pt_t.html" include_arg1=vendor include_arg2=include.arg1 %}
    </tbody>
</table>
{% endfor %}
